*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 1.4rem;
    background-color: rgb(190, 118, 10);
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
}


.container{
    height: fit-content;
    margin-top: 1rem ;
    display: flex;
    gap: 1rem;
    justify-content: space-around ;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.load-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    font-size: large;
    font-weight: 600;
    border-radius: .4rem;
    padding: .5rem 2rem;
    background-color: rgb(190, 118, 10);
    color: rgb(255, 255, 255);
    border: none;
}

button:disabled{
    font-size: large;
    font-weight: 600;
    border-radius: .4rem;
    padding: .5rem 2rem;
    background-color: rgb(118, 91, 46);
    color: rgb(184, 169, 169);
    border: none;
}

/* 
 .load-more-container {
    display:  flex;
    flex-direction: column;
    gap: 20px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

 .product{
    padding: 20px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product img{
    width: 200px;
    height: 200px;
} 

.button-container{
    display: flex;
    justify-content: center;
}

button{
    font-family: inherit;
    padding: 1rem;
    margin-bottom: 20px;
    cursor: pointer;
} */
